html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a { color: #0000ee; }

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-spacer { flex: 1 0 auto; }

.small-caps {   font-variant: small-caps; }
.M-left-5 { margin-left: 5px; }
.hidden { display: none; }

.app-layout { height: 100%; }
.app-header {
    background-color: #154693 !important;
    color: #ffffff;
    padding: 8px !important;
    _text-align: center;
}
.app-header h1 { margin: 0; }
.app-menu {
    border: 0 none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.app-menu ul {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}
.app-menu li { display: inline; }
.app-menu a:focus { outline: none; }
.app-menu a {
    color: inherit;
    padding: 5px 10px;
    text-decoration: none;
}
.app-menu a.highlight { color: #4900c2; }
.app-sidebar { width: 150px; }
.app-content {}

#user,
#settings,
#logout { cursor: pointer; }

.dgrid-no-data,
.dgrid-loading {
    color: #aaa;
    font-size: 3em;
    padding: 3em;
    text-align: center;
}
.errorMessage {
    height: 1em;
    margin: 1em 0;
    padding: 1em;

    background-color: #fcc;
    color: #900;
}

.dijitStackContainer {
    border: 1px solid #cccccc;
    padding: 5px;
}

#myCalendar .dijitCalendarDisabledDate {
    background-color: #333;
    text-decoration: none;
}
#myCalendar .dijitCalendarContainer {
    margin: 25px auto;
}

.my-photo {
    border-radius: 35px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    width: 200px;
}
.my-photo img {
    height: auto;
    margin-top: -54px;
    width: 200px;
}